<!DOCTYPE html>
<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> found while trying saving your form:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
	<fieldset>
		<div class="clearfix">
	        	<label for="name"><%= f.label t(:name) %></label>
	    			<div class="input"><%= f.text_field :name %></div>
		</div>
		<div class="clearfix">
	    		<label for="surname"><%= f.label t(:surname) %></label>
	    			<div class="input"><%= f.text_field :surname %></div>
		</div>
		<div class="clearfix">
	    		<label for="email"><%= f.label t(:email) %></label>
	    			<div class="input"><%= f.text_field :email %></div>
		</div>
		<div class="clearfix">
	    		<label for="studies"><%= f.label t(:studies) %></label>
	    			<div class="input"><%= f.text_field :studies %></div>
		</div>
		<div class="clearfix">
	    		<label for="year_of_studies"><%= f.label t(:year_of_studies) %></label>
	    			<div class="input"><%= f.text_field :year_of_studies %></div>
		</div>
		<div class="clearfix">
	    		<label for="comments"><%= f.label t(:comments) %></label>
	    			<div class="input"><%= f.text_area :comments %></div>
		</div>

		<div class="clearfix">
		<%= form_tag '/upload', :multipart => true do %>
		<label for="file"><%= t(:upload_cv) %></label><div class="input"><%= file_field_tag "file" %></div>
  		<!%= submit_tag %>
		<% end %>
		</div>
    <ul class="inputs-list">
     	<li>
				<label><input type="checkbox" name="optionsCheckboxes" value="option1" />
         	<span>Accepto que les meves dades passin a formar part de l'arxiu de l'associació BEST-UPC.</span>
        </label>
      </li>
    </ul>
		<div class="clearfix">
	    	<div class="actions">
	    		<input type="submit" class="btn primary" value="Desa">&nbsp;<button type="reset" class="btn">Cancel·la</button>
	  	</div>
		</div>
	</fieldset>

</form>

<% end %>
