<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> found while trying saving your form:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
	<fieldset>
		<div class="clearfix">
	        	<label for="name"><%= f.label t(:name) %></label>
	    			<div class="input"><%= f.text_field :name %></div>
		</div>
		<div class="clearfix">
	    		<label for="surname"><%= f.label t(:surname) %></label>
	    			<div class="input"><%= f.text_field :surname %></div>
		</div>
		<div class="clearfix">
	    		<label for="email"><%= f.label t(:email) %></label>
	    			<div class="input"><%= f.text_field :email %></div>
		</div>
		<div class="clearfix">
	    		<label for="studies"><%= f.label t(:studies) %></label>
	    			<div class="input"><%= f.text_field :studies %></div>
		</div>
		<div class="clearfix">
	    		<label for="year_of_studies"><%= f.label t(:year_of_studies) %></label>
	    			<div class="input"><%= f.text_field :year_of_studies %></div>
		</div>
		<div class="clearfix">
	    		<label for="comments"><%= f.label t(:comments) %></label>
	    			<div class="input"><%= f.text_area :comments %></div>
		</div>

		<div class="clearfix">
		<%= form_tag '/upload', :multipart => true do %>
		<label for="file"><%= t(:upload_cv) %></label><div class="input"><%= file_field_tag "file" %></div>
  		<!%= submit_tag %>
		<% end %>
		</div>
    <ul class="inputs-list">
     	<li>
				<label><input type="checkbox" name="optionsCheckboxes" value="option1" />
         	<span>I accept my information to be kept in BEST-UPC database.</span>
        </label>
      </li>
    </ul>
   <span class="help-block">
      <strong>Note: </strong><a href=# rel="popover" title="Protección de Datos de Carácter Personal" data-content="En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre de Protección de Datos de Carácter Personal (LOPD), BEST-UPC, como responsable del fichero informa de las siguientes consideraciones:
Los datos de carácter personal que le solicitamos, quedarán incorporados a un fichero cuya finalidad es ser enviados a las empresas participantes en la BEST Week Engineering Competition. Los campos marcados con asterisco son de cumplimentación obligatoria, siendo imposible realizar la finalidad expresada si no aporta esos datos.
Queda igualmente informado de la posibilidad de ejercitar los derechos de acceso, rectificación, cancelación y oposición, de sus datos personales en la siguiente dirección: BEST-UPC, c/ Gran Capità s/n, Despacho A3S105, 08034 Barcelona.">Read More</a> about data privacy.
	<script>
		$(function () {
			$("a[rel=popover]")
			.popover({ placement: 'above' })
			.click(function(e) {
			e.preventDefault()
			})
		})
		$("a[rel=popover]").popover('show');
	</script>
   </span>
		<!div class="clearfix">
	    	<div class="actions">
	    		<input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
	  	</div>
		<!/div>
	</fieldset>

</form>

<% end %>
