<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "application" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<%= javascript_include_tag "bootstrap-twipsy" %>
<%= javascript_include_tag "bootstrap-popover" %>

<title>BEST Barcelona WEC 2011 <%= title %></title>
<link rel="shortcut icon" href="best_fav.gif"/>
</head>
<body>
	<div class="container">
		<%= image_tag("header.jpg", :alt => "BEST Barcelona WEC 2011") %>

	<div class="container-lang">
	<p>&nbsp;<%= link_to('English', url_for(:locale => 'en'))%>&nbsp; | &nbsp;<%= link_to('Català', url_for(:locale => 'cat'))%>&nbsp; | &nbsp;<%= link_to('Español', url_for(:locale => 'es')) %>&nbsp; | &nbsp;<%= link_to "Contact", contact_path %></p>
	</div>
          	<ul class="pills">
		    <li><%= link_to t(:home), home_path %></li>
		    <li><%= link_to t(:companies), companies_path %></li>
		    <li><%= link_to t(:reg_menu), new_participant_path %></li>
		    <li><%= link_to t(:agenda), agenda_path %></li>
		    <li><%= link_to t(:location), location_path %></li>
		    <li><%= link_to t(:carrer_support), career_support_path %></li>
		    <li><%= link_to t(:competitions), competitions_path %></li>
		    <li><%= link_to t(:gallery), gallery_path %></li>
		    <li><%= link_to t(:about_us), about_us_path %></li>
		    <li><%= link_to t(:faq_menu), faq_path %></li>
          	</ul>
			<div class="container-fluid">
				<div class="sidebar">
      					<a href="http://www.upc.edu/" target="_blank"><%= image_tag("sidebar_logos/logoUPC.gif", :size => "100x90") %></a>
					<p><%= image_tag("sidebar_logos/Danone.gif", :size => "100x49") %></p>
					<p><%= image_tag("sidebar_logos/agbar2.gif", :size => "100x40") %></p>
					<p><%= image_tag("sidebar_logos/accenture.gif", :size => "100x48") %></p>
					<p><%= image_tag("sidebar_logos/henkel_logo.jpg", :size => "100x57") %></p>
					<p><%= image_tag("sidebar_logos/HIC_V_logo.jpg", :size => "100x70") %></p>
					<p><%= image_tag("sidebar_logos/tmb.jpg", :size => "100x98") %></p>
    				</div>
    				<div class="content">
					<span class="head1"><%= header %></span><br><br>
              				<%= yield %>
    				</div>
  			</div>
	</div>
	<br><br>
	<div class="container-footer">
	<p><b>Copyright &copy; 2011 BEST Barcelona</b></p>
	</div>
</body>
</html>

