<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "application" %>
<head>
<title>BEST Barcelona WEC 2011 <%= title %></title>
<link rel="shortcut icon" href="best_fav.gif" />
</head>
<body>
	<div class="container">
		<%= image_tag("header.jpg", :alt => "BEST Barcelona WEC 2011") %>

	<div class="container-lang">
	<p>&nbsp;<%= link_to "English", home_path %>&nbsp; | &nbsp;<%= link_to "Català", home_path%>&nbsp; | &nbsp;<%= link_to "Español", home_path %>&nbsp; | &nbsp;<%= link_to "Contact", contact_path %></p>
	</div>
          	<ul class="pills">
		    <li><%= link_to t(:home), home_path %></li>
		    <li><%= link_to t(:reg_menu), participants_path %></li>
		    <li><%= link_to t(:agenda), agenda_path %></li>
		    <li><%= link_to t(:location), location_path %></li>
		    <li><%= link_to t(:carrer_support), career_support_path %></li>
		    <li><%= link_to t(:gallery), gallery_path %></li>
		    <li><%= link_to t(:about_us), about_us_path %></li>
		    <li><%= link_to t(:faq_menu), faq_path %></li>
		    <li><%= link_to t(:companies), companies_path %></li>
          	</ul>
			<div class="container-fluid">
				<div class="sidebar">
      					<a href="http://www.upc.edu/" target="_blank"><img src="sidebar_logos/logoUPC.gif" width="100" height="90"></a>
					<p><img src="sidebar_logos/Danone.gif" width="100" height="70"></p>
					<p><img src="sidebar_logos/visual.gif" width="100" height="70"></p>
					<p><img src="sidebar_logos/accenture.gif" width="100" height="70"></p>
    				</div>
    				<div class="content">
					<span class="head1"><%= header %></span><br><br>
              				<%= yield %>
    				</div>
  			</div>
	</div>
	<br><br>
	<div class="container-footer">
	<p><b>Copyright &copy; 2011 BEST Barcelona</b></p>
	</div>
</body>
</html>

